
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Mark Russel Miranda</title>
    
    <!-- Meta -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Responsive HTML5 Resume/CV Template of Daddyawesome">
    <meta name="author" content="Xiaoying Riley at 3rd Wave Media">    
    <link rel="shortcut icon" href="favicon.ico">  
    <!-- Google Font -->
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,500,400italic,300italic,300,500italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>
    <!-- FontAwesome JS -->
    <script defer src="https://use.fontawesome.com/releases/v5.1.0/js/all.js" integrity="sha384-3LK/3kTpDE/Pkp8gTNp2gR/2gOiwQ6QaO7Td0zV76UFJVhqLl4Vl3KL1We6q6wR9" crossorigin="anonymous"></script>
    <!-- Global CSS -->
    <link rel="stylesheet" href="assets/plugins/bootstrap/css/bootstrap.min.css">   
    <!-- Theme CSS -->  
    <link id="theme-style" rel="stylesheet" href="assets/css/orbit-5.css">

<body>
    <div class="wrapper">
        <div class="sidebar-wrapper">
            <div class="profile-container">
                <img class="profile" src="assets/images/profile.png" alt="" />
                <h1 class="name">Mark Russel Miranda</h1>
                <h3 class="tagline">Reports Analyst</h3>
		<a href="https://drive.google.com/open?id=1-KnM-ZzrSQRv_3Vyx-F7nO1WIpAEu_Pb" target="_blank">View my resume in pdf here</a>    
            </div><!--//profile-container-->
            
            <div class="contact-container container-block">
                <ul class="list-unstyled contact-list">
                    <li class="email"><i class="fas fa-envelope"></i><a href="mailto: sablay296@gmail.com">sablay296@gmail.com</a></li>
                    <li class="phone"><i class="fas fa-phone"></i><a href="tel:0123 456 789">+63 916 619 0483</a></li>
                    <li class="website"><i class="fas fa-globe"></i><a href="https://daddyawesome.bitbucket.io" target="_blank">Daddyawesome.ml</a></li>
                    <!--<li class="linkedin"><i class="fab fa-linkedin-in"></i><a href="#" target="_blank">linkedin.com/in/alandoe</a></li> -->
                    <li class="github"><i class="fab fa-github"></i><a href="https://github.com/daddyawesome" target="_blank">github.com/daddyawesome</a></li>
                    <li class="twitter"><i class="fab fa-twitter"></i><a href="https://twitter.com/UrDaddyAwesome" target="_blank">@UrDaddyAwesome</a></li>
               
		    </ul>
            </div><!--//contact-container-->
            <div class="education-container container-block">
                <h2 class="container-block-title">Education</h2>
                <div class="item">
                    <h4 class="degree">Bachelor of Science in Physics</h4>
                    <h5 class="meta">Mindanao State University - Iligan Institute of Technology</h5>
                    <div class="time">2000 - 2004</div>
                </div><!--//item-->
                <div class="item">
                    <h4 class="degree">High Shool</h4>
                    <h5 class="meta">The Sisters of Mary Boystown School</h5>
                    <div class="time">1996 - 2000</div>
                </div><!--//item-->
            </div><!--//education-container-->
            
            <div class="languages-container container-block">
                <h2 class="container-block-title">Languages</h2>
                <ul class="list-unstyled interests-list">
                    <li>Cebuano <span class="lang-desc">(Native)</span></li>
                    <li>Tagalog <span class="lang-desc">(Second Tongue)</span></li>
                    <li>English <span class="lang-desc">(Professional)</span></li>
                </ul>
            </div><!--//interests-->
            
            <div class="interests-container container-block">
                <h2 class="container-block-title">Interests</h2>
                <ul class="list-unstyled interests-list">
                    <li>Reading Novels</li>
                    <li>Teaching </li>
                    <li>Learning</li>
                </ul>
            </div><!--//interests-->
            
        </div><!--//sidebar-wrapper-->
        
        <div class="main-wrapper">
            
            <section class="section summary-section">
                <h2 class="section-title"><span class="icon-holder"><i class="fas fa-user"></i></span>Career Profile</h2>
                <div class="summary">
		    
		    <p><bold><em>I'm a Real Time Analyst & a Physics Instructor from Cebu City, Philippines. I aim to make a difference through data analysis.</bold></em></p>
                    
		    <p>I am awesome. <br> <br>
			Why I am awesome? <br><br>
			I work as a College instructor for almost 13 years and while working as an instructor I try to teach myself to program and some web development. Right now I work as an analyst where I use data to drive decisions.</p>
                </div><!--//summary-->
            </section><!--//section-->
            
            <section class="section experiences-section">
                <h2 class="section-title"><span class="icon-holder"><i class="fas fa-briefcase"></i></span>Experiences</h2>
                
		 <div class="item"><!--//Latest Job-->
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Reports Analyst</h3>
                            <div class="time">2017 - Present</div>
                        </div><!--//upper-row-->
                        <div class="company">Qualfon, Cebu City</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p><em>Workforce Reporting Analyst</em><br>Reporting Globally on all company sites using Data Visualization Tool like PowwerBI</p>
			
                    </div><!--//details-->
                </div><!--//item-->
		    
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Real Time Analyst</h3>
                            <div class="time">2017 - 2019</div>
                        </div><!--//upper-row-->
                        <div class="company">Accenture, Cebu City</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p><em>Data Analyst</em><br>Analyse Claims from Health Insurance Company</p>
			<p><em>Real Time Analyst</em><br>Analysed data, out of production from the team supported and gives report by making use of pivot table and data visualization.</p>    
                    </div><!--//details-->
                </div><!--//item-->
                
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">College Instructor</h3>
                            <div class="time">2010 - 2017</div>
                        </div><!--//upper-row-->
                        <div class="company">Velez College, Cebu City</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p><em>Physics Instructor</em><br>Most of my time in the university I doing lecture and laboratoy instruction in Physics</p>
			<p><em>Mathematics Instructor</em><br>Half of my time in the College I had been a lecturer in Algebra and Statistics. </p>
			<p><em>IT Instructor</em><br>I am in charge of the college's Computer Laboratory and I am of the instructor's who guide students doing their laboratory works</p>    
                    </div><!--//details-->
                </div><!--//item-->
                
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Math and Physics Professor</h3>
                            <div class="time">2005 - 2009</div>
                        </div><!--//upper-row-->
                        <div class="company">University of San Jose-Recoletos, Cebu City</div>
                    </div><!--//meta-->
                    <div class="details">
			<p><em>Physics Instructor</em><br>Half of my time in the university I was doing lecture and laboratoy instruction in Physics</p>
                        <p><em>Algebra Instructor</em><br>For almost 5 years in the university I had my time lecturing algebra</p>
                    </div><!--//details-->
                </div><!--//item-->
                
            </section><!--//section-->
            
            <section class="section projects-section">
                <h2 class="section-title"><span class="icon-holder"><i class="fas fa-archive"></i></span>Projects</h2>
                <div class="intro">
                    <p>Lists of my projects done starting from the latest</p>
                </div><!--//intro-->
                <div class="item">
                    <span class="project-title"><a href="#">Daily Production Log</a></span> - <span class="project-tagline">An excel VBA macro use to record daily production made by the associates</span>
                </div><!--//item-->
		    <div class="item">
                    <span class="project-title"><a href="#">Daily Production Log Consolidator</a></span> - <span class="project-tagline">An excel VBA macro use to automate the process in consolidating daily production log files</span>
                </div><!--//item-->
		
		    <div class="item">
                    <span class="project-title"><a href="#">Velez Moodle</a></span> - <span class="project-tagline">A learning management system which is used by my students and fellow faculty which makes use of the local WAMP stack server</span>
                </div><!--//item-->
		
		    <div class="item">
                    <span class="project-title"><a href="#">Velezian Talk</a></span> - <span class="project-tagline">A portal for all my students blog which makes use of the bitnami wordpress multisite stack</span>
                </div><!--//item-->
	    	
		    <div class="item">
                    <span class="project-title"><a href="#">Student Body Election Automation</a></span> - <span class="project-tagline">Automate ballot counting using OCR</span>
                </div><!--//item-->
		
		<div class="item">
                    <span class="project-title"><a href="#">Algebra Workbook</a></span> - <span class="project-tagline">Author a manual for my algebra class</span>
                </div><!--//item-->
		<div class="item">
                    <span class="project-title"><a href="#">Dawesome.me</a></span> - <span class="project-tagline">A webapp for my students to view their running grades which is build in php</span>
                </div><!--//item-->
                </section><!--//section-->

		    
            


            <section class="skills-section section">
                <h2 class="section-title"><span class="icon-holder"><i class="fas fa-rocket"></i></span>Skills &amp; Proficiency</h2>
                <div class="skillset">        
					<p><strong><br><br><em>Data Analysis</em></strong></p>
                    <div class="item">
                        <h3 class="level-title">Excel</h3>
                        <div class="progress level-bar">
						    <div class="progress-bar theme-progress-bar" role="progressbar" style="width: 99%" aria-valuenow="99" aria-valuemin="0" aria-valuemax="100"></div>
						</div>                               
                    </div><!--//item-->
                    
                    <div class="item">
                        <h3 class="level-title">Power Query</h3>
                        <div class="progress level-bar">
						    <div class="progress-bar theme-progress-bar" role="progressbar" style="width: 98%" aria-valuenow="98" aria-valuemin="0" aria-valuemax="100"></div>
						</div>                              
                    </div><!--//item-->
                    
                    <div class="item">
                        <h3 class="level-title">Python and R</h3>
                        <div class="progress level-bar">
						    <div class="progress-bar theme-progress-bar" role="progressbar" style="width: 68%" aria-valuenow="68" aria-valuemin="0" aria-valuemax="100"></div>
						</div>
			 <br><em>&emsp;&emsp;<STRONG>Certifications</STRONG><br></em>
			    <span ><STRONG>&emsp;&emsp;&emsp;Programming for Everybody (Getting Started with Python)</STRONG><br>
				    &emsp;&emsp;&emsp;Issuing authority: <em>Coursera</em><br>
				    &emsp;&emsp;&emsp;Certification Issued: <em>Nov 2019 with No Expiration Date</em><br>
				    &emsp;&emsp;&emsp;Credential ID: <em>K94ULNGDYESW</em><br>
				    &emsp;&emsp;&emsp;<a href="https://www.coursera.org/account/accomplishments/certificate/K94ULNGDYESW">See Credentials</a></span>
			    
			    <span ><br><br><STRONG>&emsp;&emsp;&emsp;Python  Data Structures</STRONG><br>
				    &emsp;&emsp;&emsp;Issuing authority: <em>Coursera</em><br>
				    &emsp;&emsp;&emsp;Certification Issued: <em>Nov 2019 with No Expiration Date</em><br>
				    &emsp;&emsp;&emsp;Credential ID: <em>GYGHYD5N26EB</em><br>
				    &emsp;&emsp;&emsp;<a href="https://www.coursera.org/account/accomplishments/certificate/GYGHYD5N26EB">See Credentials</a></span>
			     
			    <span ><br><br><STRONG>&emsp;&emsp;&emsp;Using Python to Access Web Data</STRONG><br>
				    &emsp;&emsp;&emsp;Issuing authority: <em>Coursera</em><br>
				    &emsp;&emsp;&emsp;Certification Issued: <em>Nov 2019 with No Expiration Date</em><br>
				    &emsp;&emsp;&emsp;Credential ID: <em>DX5673NEPYLU</em><br>
				    &emsp;&emsp;&emsp;<a href="https://www.coursera.org/account/accomplishments/certificate/DX5673NEPYLU">See Credentials</a></span>
                    </div><!--//item-->
                    
			
			<p><strong><em>Operating System</em></strong></p>
                    <div class="item">
                        <h3 class="level-title">Windows</h3>
                        <div class="progress level-bar">
						    <div class="progress-bar theme-progress-bar" role="progressbar" style="width: 99%" aria-valuenow="99" aria-valuemin="0" aria-valuemax="100"></div>
						</div>                               
                    </div><!--//item-->
                    
                    <div class="item">
                        <h3 class="level-title">Ubuntu</h3>
                        <div class="progress level-bar">
						    <div class="progress-bar theme-progress-bar" role="progressbar" style="width: 95%" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100"></div>
						</div>                              
                    </div><!--//item-->
                    
                    <div class="item">
                        <h3 class="level-title">Ubuntu MATE</h3>
                        <div class="progress level-bar">
						    <div class="progress-bar theme-progress-bar" role="progressbar" style="width: 98%" aria-valuenow="98" aria-valuemin="0" aria-valuemax="100"></div>
						</div>                                 
                    </div><!--//item-->
                    
                    <div class="item">
                        <h3 class="level-title">Red Hat Linux</h3>
                        <div class="progress level-bar">
							    <div class="progress-bar theme-progress-bar" role="progressbar" style="width: 75%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
						</div>                                
                    </div><!--//item-->
                    
					<p><br><br><strong><em>Web Development</em></strong></p>
                                        
                    <div class="item">
                        <h3 class="level-title">Javascript &amp; jQuery</h3>
                        <div class="progress level-bar">
						    <div class="progress-bar theme-progress-bar" role="progressbar" style="width: 68%" aria-valuenow="68" aria-valuemin="0" aria-valuemax="100"></div>
						</div>                              
                    </div><!--//item-->
                    
                                       
                    <div class="item">
                        <h3 class="level-title">HTML5 &amp; CSS</h3>
                        <div class="progress level-bar">
							    <div class="progress-bar theme-progress-bar" role="progressbar" style="width: 85%" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100"></div>
						</div>                                
                    </div><!--//item-->
                    
                    <div class="item">
                        <h3 class="level-title">Ruby</h3>
                        <div class="progress level-bar">
						    <div class="progress-bar theme-progress-bar" role="progressbar" style="width: 45%" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100"></div>
						</div>                                  
                    </div><!--//item-->
                    
                    <div class="item">
                        <h3 class="level-title">Photoshop</h3>
                        <div class="progress level-bar">
						    <div class="progress-bar theme-progress-bar" role="progressbar" style="width: 60%" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"></div>
						</div>                                 
                    </div><!--//item-->
					
					<div class="item">
                        <h3 class="level-title">Phython Flask</h3>
                        <div class="progress level-bar">
						    <div class="progress-bar theme-progress-bar" role="progressbar" style="width: 60%" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"></div>
						</div>                                 
                    </div><!--//item-->
					

					<p><strong><br><br><em>Office and Other Tools</em></strong></p>
                    <div class="item">
                        <h3 class="level-title">MS Word, Excel and Popwerpoint</h3>
                        <div class="progress level-bar">
						    <div class="progress-bar theme-progress-bar" role="progressbar" style="width: 99%" aria-valuenow="99" aria-valuemin="0" aria-valuemax="100"></div>
						</div>                               
                    </div><!--//item-->
                    
                    <div class="item">
                        <h3 class="level-title">Git and Heroku</h3>
                        <div class="progress level-bar">
						    <div class="progress-bar theme-progress-bar" role="progressbar" style="width: 98%" aria-valuenow="98" aria-valuemin="0" aria-valuemax="100"></div>
						</div>                              
                    </div><!--//item-->
                    
                    <div class="item">
                        <h3 class="level-title">Google Drive</h3>
                        <div class="progress level-bar">
						    <div class="progress-bar theme-progress-bar" role="progressbar" style="width: 68%" aria-valuenow="68" aria-valuemin="0" aria-valuemax="100"></div>
						</div>                                 
                    </div><!--//item-->
                    
                </div>  
            </section><!--//skills-section-->
            
        </div><!--//main-body-->
    </div>
 
    <footer class="footer">
        <div class="text-center">
                <!--/* This template is released under the Creative Commons Attribution 3.0 License. Please keep the attribution link below when using for your own project. Thank you for your support. :) If you'd like to use the template without the attribution, you can check out other commercial license options via our website: themes.3rdwavemedia.com */-->
                <small class="copyright">Designed with <i class="fas fa-heart"></i> by <a href="http://themes.3rdwavemedia.com" target="_blank">Xiaoying Riley</a> for developers</small>
        </div><!--//container-->
    </footer><!--//footer-->
        
</body>
</html> 
